
*__pycache__/*
*.pyc
*.pyo

database/__pycache__/

cutDB/settings\.py\.old

cutDB/production_settings\.py

cutDB/test_settings\.py

cutDB/settings/local_settings\.py

cutDB/settings/production_settings\.py

cutDB/settings_local\.py

\.spyproject/

\.vscode/

.env
db.sqlite3
staticfiles/
database_dump/dump.sql
database_dump/dump_sqlite.sql
local_env/
CO01A1_HUMAN\.gbk

collagens\.gb

homotrimers\.gbk

signalp-4\.1f\.Linux\.tar\.gz

Lys\.csv

output\.fasta
