{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "database/css/pure-min.css"%}" >
    <link rel="stylesheet" href="{% static "database/css/side-menu.css"%}">
 
    <title>{% block title %}CeColDB - a database for all collagens in C. elegans{% endblock %}</title>
    <script src="{% static "database/js/ui.js" %}" defer></script>
    <script src="{% static "database/js/jquery-3.2.1.min.js" %}"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" ></script>
    <script src="{% static "database/js/jquery-ui.min.js" %}" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="></script>


 
    


    <link rel="stylesheet" href="{% static "database/fontawesome/css/all.css" %}">

    

   {% block extraheader %} 
   {% endblock %}
   <link rel="stylesheet" href="{% static "database/css/pure_customisations.css" %}">
    
   {% block individual_scripts %} 
    
   {% endblock %}   

   <script>
    $(document).ready(function () {
        if ( $( "#popHelp" ).length ) {

            $.getScript("{% static 'database/js/jquery.popupoverlay.js' %}").done(function() {

                $('#popHelp').popup({
                    color: '#FFFFFF',
                    type: 'tooltip',
                    opacity: 1.0,
            
                });
            });
        };
    });
</script>
        
   
</head>

<body>
    <svg  xmlns="http://www.w3.org/2000/svg" style="display: none;">
    
           <symbol id="domains" viewBox="214.7 0 182.6 792">
            <desc>Icon für Suche</desc>	
            <g transform="matrix(1,0,0,1,-129.081,-17.4868)">
                    <clipPath id="_clip1">
                        <rect x="129.081" y="17.487" width="503.883" height="492.425"/>
                    </clipPath>
                    <g clip-path="url(#_clip1)">
                        <g transform="matrix(0.99991,-0.0133953,0.0133953,0.99991,-14.72,-7.80751)">
                            <g transform="matrix(-0.577561,-0.655045,1.59501,-1.40634,351.213,1198.55)">
                                <rect x="538.205" y="274.061" width="271.562" height="37.412" style="stroke:azure;stroke-width:0.62px;"/>
                            </g>
                            <g transform="matrix(-1.89588,1.67162,-1.45899,-1.65472,1226.8,457.986)">
                                <path d="M207.3,190.206L231.811,223.748L182.788,223.748L207.3,190.206Z" style="stroke:azure;stroke-width:0.42px;"/>
                            </g>
                        </g>
                        <g transform="matrix(-1,-1.22465e-16,1.22465e-16,-1,730.735,455.201)">
                            <g transform="matrix(-0.713798,-0.809559,1.59501,-1.40634,266.402,1188.68)">
                                <rect x="538.205" y="274.061" width="271.562" height="37.412" style="stroke-width:0.59px;"/>
                            </g>
                            <g transform="matrix(-1.89588,1.67162,-1.45899,-1.65472,1068.66,364.952)">
                                <path d="M207.3,190.206L231.811,223.748L182.788,223.748L207.3,190.206Z" style="stroke:azure;stroke-width:0.42px;"/>
                            </g>
                        </g>
                        <g transform="matrix(0.960161,-0.279448,0.279448,0.960161,-24.0818,66.3652)">
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,294.362,87.623)">
                                <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="stroke-width:2.01px;"/>
                            </g>
                            <g transform="matrix(-0.415413,1.23504,-1.21437,-0.389403,506.598,-278.958)">
                                <g transform="matrix(1.91706,0,0,1.91706,427.636,65.8642)">
                                    <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="fill:none;stroke-width:1.21px;"/>
                                </g>
                                <g transform="matrix(1.91706,0,0,1.91706,203.701,69.5932)">
                                    <path d="M101.745,23.228C105.065,15.353 107.089,3.124 112.434,3.614C119.503,4.262 121.263,18.799 129.99,39.511C128.216,42.983 125.199,51.869 123.632,51.945C114.401,50.703 107.524,40.397 101.745,23.228Z" style="fill:none;stroke-width:1.21px;"/>
                                </g>
                                <g transform="matrix(1.91706,0,0,1.91706,427.636,65.8642)">
                                    <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="fill:none;stroke-width:1.21px;"/>
                                </g>
                                <g transform="matrix(1.91706,0,0,1.91706,203.701,69.5932)">
                                    <path d="M101.745,23.228C105.065,15.353 107.089,3.124 112.434,3.614C119.503,4.262 121.263,18.799 129.99,39.511C128.216,42.983 125.199,51.869 123.632,51.945C114.401,50.703 107.524,40.397 101.745,23.228Z" style="fill:none;stroke-width:1.21px;"/>
                                </g>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,248.969,223.543)">
                                <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="fill:none;stroke-width:1.21px;"/>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,337.467,-54.4784)">
                                <path d="M101.745,23.228C105.065,15.353 107.089,3.124 112.434,3.614C119.503,4.262 121.263,18.799 129.99,39.511C128.216,42.983 125.199,51.869 123.632,51.945C114.401,50.703 107.524,40.397 101.745,23.228Z" style="fill:none;stroke-width:1.21px;"/>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,248.969,223.543)">
                                <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="stroke-width:2.01px;"/>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,337.467,-54.4784)">
                                <path d="M101.745,23.228C105.065,15.353 107.089,3.124 112.434,3.614C119.503,4.262 121.263,18.799 129.99,39.511C128.216,42.983 125.199,51.869 123.632,51.945C114.401,50.703 107.524,40.397 101.745,23.228Z" style="fill:none;stroke-width:2.01px;"/>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,203.71,359.068)">
                                <path d="M-5.1,5.545C7.432,4.009 19.791,3.606 31.377,5.192C40.437,13.595 46.188,50.529 63.658,53.669L28.219,53.764C7.151,53.82 7.604,4.869 -5.1,5.545Z" style="stroke-width:2.01px;"/>
                            </g>
                            <g transform="matrix(-0.796371,2.36765,-2.32801,-0.746507,292.207,81.0463)">
                                <path d="M101.745,23.228C105.065,15.353 107.089,3.124 112.434,3.614C119.503,4.262 121.263,18.799 129.99,39.511C128.216,42.983 125.199,51.869 123.632,51.945C114.401,50.703 107.524,40.397 101.745,23.228Z" style="fill:none;stroke-width:2.01px;"/>
                            </g>
                        </g>
                        <path d="M297.604,446.334C320.257,398.136 308.283,388.717 285.515,331.745C246.602,234.371 321.606,219.925 341.238,241.992L548.063,474.471C595.215,521.627 682.042,448.06 577.716,331.745L332.598,58.461C301.543,23.838 263.595,7.38 268.973,67.151" style="fill:none;stroke-width:7.68px;"/>
                    </g>
                </g>
        </symbol> 
</svg>
<div id="layout" >
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="{% url 'index'%}">CeColDB</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'genes'%}" class="pure-menu-link"><i class="fas fa-dna fa-fw"></i> Genes</a></li>
                <li class="pure-menu-item"><a href="{% url 'clades'%}" class="pure-menu-link"><i class="fas fa-sitemap fa-fw"></i> Clusters</a></li>
                <li class="pure-menu-item"><a href="{% url 'domains'%}" class="pure-menu-link"><i class="fas fa-tags fa-fw"></i> Domains</a></li>
                <li class="pure-menu-item"><a href="{% url 'download'%}" class="pure-menu-link"><i class="fas fa-download fa-fw"></i> Export / Download</a></li>
                {% if user.is_authenticated %}
                <li class="pure-menu-item"><a href="{% url 'admin:index' %}" class="pure-menu-link"><i class="fas fa-unlock-alt fa-fw"></i>Admin</a></li>
                {% endif %}
                <li class="pure-menu-item"><a href="{% url 'info'%}" class="pure-menu-link"><i class="far fa-question-circle fa-fw"></i> Help & Information</a></li>
                <li class="pure-menu-item"><a href="{% url 'contact'%}" class="pure-menu-link"><i class="far fa-envelope fa-fw"></i> Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<div id='footer'><center>Database version: 10_2018</center></div>
</body>
</html>