{% extends "database/base.html" %}
{% load static %}

{% block extraheader %}

{% endblock %}

{% block content %}
<div class="header">
    <h1>CeColDB - How to contact us</h1>
</div>

<div class="content">
    <div class="pure-g">
        <div class="pure-u">
            <h2 class="content-subhead">Contact</h2>
            <p>This website was generated while investigating the collagen-like protein in C. elegans - which finally
                cumulated in our publication "The in-silico characterization of the Caenorhabditis elegans matrisome
                and proposal of a novel collagen classification", currently in submission at Matrix Biology.</p>
            <p>The original idea was born by Dr. Collin Ewald based on his finding that collagens in C. elegans are
                important for longevity.<br>
                The identification and classification of cuticular collagen were then performed by Dr. Jan Gebauer.<br>
                This also leads to the following contact addresses:</p>

        </div>
    </div>
    <br><br>
    <div class="pure-g" style="text-align:center;justify-content: center;">
        <div class="pure-u" >
        <b>If you have questions regarding...</b><br><br>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-2-5">
            <ul><li>collagens in general<li>collagens in C. elegans<li>this website & its' data</ul><br><br>
            Dr. Jan Gebauer<br>
            AG Baumann<br>
            Institute of Biochemistry<br>
            University of Cologne<br>
            Germany<br>
            <a href="https://px.uni-koeln.de">px.uni-koeln.de</a><br>
        </div>
        <div class="pure-u-1-5"></div>
        <div class="pure-u-2-5">
           <ul><li>C. elegans<li>mutations in collagens in <i>C. elegans</i><li>ECM and longevity</ul><br><br>
            Collin Ewald<br>
            ETH Zurich <br>
            Extracellular Matrix Regeneration Laboratory<br>
            Schorenstrasse 16<br>
            8607 Schwerzenbach<br>
            Switzerland<br>
            <a href="https://www.ewaldlab.com">EwaldLab.com</a><br>
        </div>
    </div>







</div>




{% endblock %}



{% block individual_scripts %}

{% endblock %}